html, body{
  overflow-x: hidden;
}
body{
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  color: #333333;
  margin: 0;
  padding:0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 1.750em;
  font-weight: normal;
  margin-bottom: 5px;
}
p{
  font-size: 1em;
  line-height: 1.188em;
  font-weight: 100;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}
.logo-header {
  width: 26%;
  float: left;
  position: inline-block;
  min-height: 1px;
  margin: 0 2% 20px;
}
.nav-header {
  width: 66%;
  float: right;
  position: inline-block;
  min-height: 1px;
  margin: 0 0 20px 4%;
}
.container {
  width: 307px;
}
#logo-mobile {
  display: block;
}
#logo-desktop {
  display: none;
}
header {
  -webkit-font-smoothing: antialiased;
}
header .hero h1 {
  font-size: 2em;
  font-weight: normal;
  margin: 20px 0 0;
}
header .hero p {
  font-size: 1em;
  line-height: 1em;
  font-weight: normal;
  margin: 10px 0 40px;
}
header .hero img {
  display: none;
  margin: 3em auto 0;
}
header .break {
  display: none;
}

/* HEADER */
header {
  color: #388CA1;
  background: #F9F8F6;
  background-image: linear-gradient(180deg, #F9F8F6 0%, #EFEDE8 100%);
  padding-bottom: 45px;
}
header nav {
  padding:1em 0;
  text-align: center;
}
header nav ul {
  display: inline;
  margin: 0 auto;
  padding: 0;
}
header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 5px;
}
header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 1px solid #388CA1;
}
header nav ul > li.btn-outline:hover {
  background: #388CA1;
}
header nav ul > li > a {
  color: #388CA1;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color: #FFFFFF;
}
header .hero {
  text-align: center;
  display: block;
  position: relative;
}

/* BUTTONS */
.btn {
  color: #FFFFFF;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 30px;
  background: #99AB2C;
  border: 1px solid #99AB2C;
  box-shadow: 0px 2px 0px 0px #F9F8F6;
}

/* BENEFITS */
.benefits {
  text-align: center;
  display: block;
  position: relative;
  background-color: #D7E8EC;
}
.benefits ul {
  margin: 0 auto;
  padding: 4em 0;
}
.benefits ul li {
  list-style-type: none;
  display: inline-block;
}
.benefits i {
  color: #388CA1;
  font-size: 3.75em;
  margin: 0;
  vertical-align: middle;
}
.benefits h2 {
  color: #388CA1;
}
.benefits p {
  color: #388CA1;
}

/* PRICING */
.pricing {
  background: #388CA1 url("../images/background.png") top center no-repeat;
  background: url ("../images/background.png") top center no-repeat, linear gradient (206deg, #388CA1 0%, #388CA1 94%);
  background-size: cover;
  text-align: center;
  padding: 4em 0;
}
.pricing h2, .pricing p {
  color: #FFFFFF;
}
.pricing ul {
  margin: 0 auto;
  padding: 2em 0;
}
.pricing ul li {
  list-style-type: none;
}
.box {
  padding: 0 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
  min-height: 400px;
  position: relative;
  margin-top: 25px;
}
.box.middle {
  min-height: 450px;
  margin-top: 0px;
}
.box h3 {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background: #E2E2E2;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin: 0 -15px 40px;
  padding: 10px 0;
}
.box h4 {
  font-size: 50px;
  font-weight: normal;
  margin: 40px 0 10px;
  color: #388CA1;
}
.box h4 span {
  font-size: 24px;
  font-weight: lighter;
  vertical-align: top;
}
.box h4 span.month {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #888888;
  font-size: 20px;
  vertical-align: middle;
}
.box ul li {
  font-size: 1.125em;
  margin-bottom: 20px;
  font-weight: 100;
}
.box .btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.small {
  font-size: .75em;
  color: #FEFEFE;
  line-height: 15px;
  font-style: italic;
}

/* TESTIMONIALS */
.testimonials {
  padding: 4em 0;
  text-align: center;
  background-color: #D7E8EC;
}
.testimonials h2 {
  color: #388CA1;
}
.testimonials ul li {
  list-style-type: none;
  right: 20px;
}
.testimonials li.stagger {
  position: relative;
  left: 20px;
}
.testimonials blockquote {
  color: #FFFFFF;
  text-align: left;
  font-style: italic;
  background: #388CA1;
  position: relative;
  padding: 30px;
  width: auto;
  margin: 0;
}
.testimonials blockquote:after {
  top: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #388CA1;
  border-width: 10px;
  margin-left: -10px;
 }
.testimonials img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  float: left;
  display: inline-block;
  margin: 20px 10px 0 0;
}
.testimonials p.name {
  float: left;
  display: inline-block;
  text-align: left;
  font-size: 0.8125em;
  margin-top: 30px;
  color: #388CA1;
}
.testimonials p {
  color: #388CA1;
}

/* CALL TO ACTION */
.call-to-action {
  padding: 4em 0;
  text-align: center;
  color: #388CA1;
}
.call-to-action .container h1 {
  color: #388CA1;
  font-size: 32px;
  font-weight: normal;
  margin: 20px 0 0;
}
.call-to-action p {
  padding-bottom: 15px;
}
.call-to-action {
  background-color: #F9F8F6;
  background-image: linear-gradient(180deg, #F9F8F6 0%, #EFEDE8 100%);
}

/* FOOTER */
footer {
  background-color: #388CA1;
  background-image: linear-gradient(to top, #388CA1 0%, #388CA1 50%, #388CA1 50%, #388CA1 100%);
  color: #FFFFFF;
  height: 150px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
footer p {
  font-size: 0.875em;
  font-weight: 100;
  text-align: center;
  margin: 20px 0 0;
  padding-left: 0;
}
footer nav ul {
  font-size: 0.875em;
  font-weight: 100;
  text-align: center;
  margin: 10px 20px 0;
  padding-left: 0;
  bottom: 20px;
}
footer nav ul li {
  list-style-type: none;
  display: inline;
}
footer nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
footer .left-footer-block {
  margin: 0 2% 0;
}
footer .right-footer-block {
  background-color: transparent;
  bottom: 5px;
}
footer .logo {
  padding: 0 0 2em;
  margin: 0 auto 1em;
  display: block;
}

/* DASHBOARD */
.dashboard {
  background: #F9F8F6;
  -webkit-font-smoothing: antialiased;
}
.left-nav {
  height: 100vh;
  width: 14.66666667%;
  color: #333333;
  background: #EFEDE8;
  float: left;
  position: fixed;
  display: block;
}
.left-nav .site-logo {
  padding: 40px 0;
  background: #EFEDE8;
  display: block;
  text-align: center;
}
.left-nav .items {
  padding: 0 6%;
}
.left-nav .items p {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75em;
  color: #333333;
  line-height: 0.9375em;
}
.left-nav .items ul {
  margin: 0 0 40px;
  padding: 0;
}
.left-nav .items ul li {
  list-style-type: none;
  margin-bottom: 15px;
}
.left-nav .items ul li a {
  color: #333333;
  text-decoration: none;
  font-weight: 100;
}
.left-nav .items ul li a i {
  width: 16px;
  text-align: center;
  margin-right: 8px;
}

/* LEFT NAVBAR SETTINGS */
.left-nav .settings {
  position: absolute;
  background: #EFEDE8;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
}
.left-nav .settings img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: 10px;
  display: inline-block;
}
.left-nav .settings p {
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
  font-weight: 400;
  margin: 0 0 0 10px;
}
.left-nav .settings a {
  color: #333333;
  text-decoration: none;
  text-align: right;
  float: right;
  margin-right: 10px;
  margin-top: 8px;
}

/* CONTENT */
.content {
  padding: 30px 1% 1.5em;
  float: right;
  width: 98%;
  position: relative;
}
.content .header {
  margin: 0 1% 0px;
}
.content .header h1 {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin: 0 0 30px;
  font-size: 1.75em;
  color: #333333;
  line-height: 3.125em;
  float: right;
  display: inline-block;
}
.content .header > a {
  float: left;
}
.content-item {
  width: 96%;
  margin: 0 2% 25px;
  float: left;
  display: block;
}
.item-box {
  display: block;
  height: 230px;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px 0px rgba(239,237,232,1);
  position: relative;
  overflow: hidden;
  padding: 10px;
}
.link {
  display: block;
  height: 165px;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px 0px rgba(239,237,232,1);
  position: relative;
  overflow: hidden;
  padding: 10px;
}
.item-box > img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  left: 0;
  right: 10px;
  padding: 10px 10px 10px 10px;
}
.item-box h2 {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 3.125em;
  padding-left: 20px;
  margin: 0;
  background-color: #388CA1;
}
.item-box h2 a {
  color: #FFFFFF;
  text-decoration: none;
}
.item-box h2 img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.item-box p {
  font-family: "AleoLight", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #333333;
  line-height: 1.25em;
  margin: 16px 20px 0;
}

/* QUERIES */
@media (min-width: 460px) {
  .content {
    padding: 1.5em 1%;
    float: right;
    width: 90%;
    position: relative;
  }
  .content-item {
    width: 46%;
    margin: 0 2% 25px;
    float: left;
    display: block;
  }
}
@media (min-width: 768px) {
  .container {
  width: 750px;
  }
  #logo-mobile {
    display: none;
  }
  #logo-desktop {
    display: block;
  }
  header {
    padding-bottom: 0;
  }
  header nav {
    text-align: left;
  }
  header nav ul {
    float: right;
    text-align: right;
  }
  header nav ul > li {
    margin: 0 15px;
  }
  header .hero h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 95px 0 0;
  }
  header .hero p {
    font-size: 1.375em;
    line-height: 1.375em;
    font-weight: normal;
    margin: 10px 0 40px;
  }
  header .hero img {
    display: block;
    margin: 3em auto 0;
  }
  header .break {
    display: inline;
  }
  .testimonials blockquote:after {
    top: 100%;
    left: 4.5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #388CA1;
    border-width: 10px;
    margin-left: -10px;
   }
  .testimonials ul li {
    list-style-type: none;
    right: 0px;
  }
  .testimonials li.stagger {
    position: relative;
    left: 0px;
  }
  footer {
   background-color: #3498DB;
   background-image: linear-gradient(to left,
      #388CA1 0%, #388CA1 33.3333%, #388CA1 33.3333%, #388CA1 100%);
   height: 100px;
  }
  footer {
    height: 150px;
  }
  footer .right-footer-block {
    background-color: transparent;
    bottom: 0;
  }
  .content {
    padding: 30px 5%;
    float: right;
    width: 90%;
    position: relative;
  }
  .content > .container {
    width: 700px;
  }
  .content-item {
    width: 31.33333%;
    margin: 0 1% 25px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
  .testimonials blockquote:after {
    top: 100%;
    left: 13%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #388CA1;
    border-width: 10px;
    margin-left: -10px;
   }
  .testimonials li.stagger {
    position: relative;
    top: 20px;
    left: 0px;
  }
  footer {
    height: 100px;
  }
  footer p, footer nav ul{
  padding: 2em 0;
  text-align: left;
  margin: 10px 0 0;
  }
  footer .right-footer-block {
  background-color: #388CA1;
  bottom: 0px;
  }
  footer .logo{
  padding: 30px 0 30px 1.5em;
  }
  header {
  padding-bottom: 0px;
  }
  .content {
    padding: 30px 1%;
    float: right;
    width: 83.33333333%;
    position: relative;
  }
  .content > .container {
    width: auto;
  }
  .content-item {
    width: 23%;
    margin: 0 1% 25px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
