html, body{
  overflow-x: hidden;
}
body{
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  color: #333333;
  margin: 0;
  padding:0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 1.750em;
  font-weight: normal;
  margin-bottom: 5px;
}
p{
  font-size: 1em;
  line-height: 1.188em;
  font-weight: 100;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}
.container {
  width: 307px;
}
#logo-mobile {
  display: block;
}
#logo-desktop {
  display: none;
}
header {
  -webkit-font-smoothing: antialiased;
}
header .hero h1 {
  font-size: 2em;
  font-weight: normal;
  margin: 20px 0 0;
}
header .hero p {
  font-size: 1em;
  line-height: 1em;
  font-weight: normal;
  margin: 10px 0 40px;
}
header .hero img {
  display: none;
  margin: 3em auto 0;
}
header .break {
  display: none;
}

/* HEADER */
header {
  color: #388CA1;
  background: #F9F8F6;
  background-image: linear-gradient(180deg, #F9F8F6 0%, #EFEDE8 100%);
}
header nav {
  padding:1em 0;
  text-align: center;
}
header nav ul {
  display: inline;
  margin: 0 auto;
  padding: 0;
}
header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}
header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 1px solid #388CA1;
}
header nav ul > li.btn-outline:hover {
  background: #388CA1;
}
header nav ul > li > a {
  color: #388CA1;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color: #FFFFFF;
}
header .hero {
  text-align: center;
  display: block;
  position: relative;
}

/* BUTTONS */
.btn {
  color: #FFFFFF;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 30px;
  background: #99AB2C;
  border: 1px solid #99AB2C;
  box-shadow: 0px 2px 0px 0px #F9F8F6;
}

/* BENEFITS */
.benefits {
  text-align: center;
  display: block;
  position: relative;
}
.benefits ul {
  margin: 0 auto;
  padding: 4em 0;
}
.benefits ul li {
  list-style-type: none;
  display: inline-block;
}
.benefits i {
  color: #388CA1;
  font-size: 3.75em;
  margin: 0;
  vertical-align: middle;
}
.benefits h2 {
  color: #388CA1;
}

/* PRICING */
.pricing {
  background: #388CA1 url("../images/background.png") top center no-repeat;
  background: url ("../images/background.png") top center no-repeat, linear gradient (206deg, #388CA1 0%, #388CA1 94%);
  background-size: cover;
  text-align: center;
  padding: 4em 0;
}
.pricing h2, .pricing p {
  color: #FFFFFF;
}
.pricing ul {
  margin: 0 auto;
  padding: 2em 0;
}
.pricing ul li {
  list-style-type: none;
}
.box {
  padding: 0 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
  min-height: 439px;
  position: relative;
  margin-top: 25px;
}
.box.middle {
  min-height: 485px;
  margin-top: 0px;
}
.box h3 {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background: #E2E2E2;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin: 0 -15px 40px;
  padding: 10px 0;
}
.box h4 {
  font-size: 50px;
  font-weight: normal;
  margin: 40px 0 10px;
  color: #388CA1;
}
.box h4 span {
  font-size: 24px;
  font-weight: lighter;
  vertical-align: top;
}
.box h4 span.month {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #888888;
  font-size: 20px;
  vertical-align: middle;
}
.box ul li {
  font-size: 1.125em;
  margin-bottom: 20px;
  font-weight: 100;
}
.box .btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.small {
  font-size: .75em;
  color: #FEFEFE;
  line-height: 15px;
  font-style: italic;
}

/* TESTIMONIALS */
.testimonials {
  padding: 4em 0;
  text-align: center;
}
.testimonials h2 {
  color: #388CA1;
}
.testimonials ul li {
  list-style-type: none;
}
.testimonials blockquote {
  color: #FFFFFF;
  text-align: left;
  font-style: italic;
  background: #388CA1;
  position: relative;
  padding: 30px;
  width: auto;
  margin: 0;
}
.testimonials blockquote:after {
  top: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #388CA1;
  border-width: 10px;
  margin-left: -10px;
 }
.testimonials img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  float: left;
  display: inline-block;
  margin: 20px 10px 0 0;
}
.testimonials p.name {
  float: left;
  display: inline-block;
  text-align: left;
  font-size: 0.8125em;
  margin-top: 30px;
}

/* CALL TO ACTION */
.call-to-action {
  padding: 4em 0;
  text-align: center;
}
.call-to-action h2 {
  color: #388CA1;
}
.call-to-action p {
  padding-bottom: 15px;
}
.call-to-action .btn {
  padding-bottom: 15px;
}
.call-to-action {
  background-color: #F9F8F6;
  background-image: linear-gradient(180deg, #F9F8F6 0%, #EFEDE8 100%);
}

/* FOOTER */
footer {
  background-color: #388CA1;
  background-image: linear-gradient(to top, #388CA1 0%, #388CA1 50%, #388CA1 50%, #388CA1 100%);
  color: #FFFFFF;
  height: 150px;
  position:relative;
  overflow: hidden;
  z-index: 0;
}
footer p, footer nav ul {
  font-size: 0.875em;
  font-weight: 100;
  text-align: center;
  margin: 10px auto 0;
}
footer nav ul li {
  list-style-type: none;
  display: inline;
}
footer nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
footer .link-block{
  text-align: center;
}
footer .right-footer-block {
  background-color: transparent;
  bottom: auto;
}
footer .logo {
  padding: 2.35em 0;
  margin: 0 auto;
  display: block;
}

/* QUERIES */
@media (min-width: 768px) {
  .container {
    width: 750px;
    }
    #logo-mobile {
      display: none;
    }
    #logo-desktop {
      display: block;
    }
    header nav {
      text-align: left;
    }
    header nav ul {
      float: right;
      text-align: right;
    }
    header .hero h1 {
      font-size: 3em;
      font-weight: normal;
      margin: 95px 0 0;
    }
    header .hero p {
      font-size: 1.375em;
      line-height: 1.375em;
      font-weight: normal;
      margin: 10px 0 40px;
    }
    header .hero img {
      display: block;
      margin: 3em auto 0;
    }
    header .break {
      display: inline;
    }
    .testimonials li.stagger {
      position: relative;
      top: 20px
    }
    footer{
     background-color: #3498DB;
     background-image: linear-gradient(to left,
        #388CA1 0%, #388CA1 33.3333%, #388CA1 33.3333%, #388CA1 100%);
     height: 100px;
    }
    footer p, footer nav ul{
    padding: 2em 0;
    text-align: left;
    }
    footer .right-footer-block {
    background-color: #388CA1;
    }
    footer .logo{
    padding: 2em 0 2em 1.5em;
    }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
